body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
/* Start: Header */
header {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100vh;
}

.brand-wrapper {
    margin-top: 40px;
    float: left;
}

.brand-wrapper a.brand {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    font-size: 26px;
    margin-top: -14px;
    display: block;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 40px;
}

header nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 24px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.slogan {
    color:#fff;
    text-align: center;
    padding-top: 35vh;
    text-shadow: 0 0 1px #000;
}

.slogan-headline {
    font-size: 130%;
    font-weight: 300;
}

.slogan-text {
    font-size: 500%;
    text-transform: uppercase;
    font-weight: 900;
}

.btn.btn-outline-primary {
    color: #fff;
    text-shadow: 0 0 1px #000;
    border-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    margin-top: 24px;
}

.btn.btn-outline-primary:hover {
    background-color: #fff;
    color: #222;
    text-shadow: none;
}
/* Ende: Header */

/* Start: Main */

main {
    margin-left: 12%;
    margin-right: 12%;
}

main section {
    margin-top: 20px;
}

main .service {
    margin-bottom: 20px;
    font-size: 350%;
    font-weight: 700;
}

main .icon {
    color: lightgrey;
    text-align: center;
    font-size: 1200%;
}

/* Ende: Main */