body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
/* Start: Header */
header {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100vh;
}

.brand-wrapper {
    margin-top: 40px;
    float: left;
}

.brand-wrapper a.brand {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    font-size: 26px;
    margin-top: -14px;
    display: block;
}

header nav {
    float: right;
    margin-top: 40px;
}

header nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 24px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header ul li a:hover {
    color: #fff;
    text-decoration: underline;
}
/* Ende: Header */