body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
/* Start: Header */
header {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100vh;
}

.brand-wrapper {
    margin-top: 40px;
    float: left;
}

.brand-wrapper a.brand {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    font-size: 26px;
    margin-top: -14px;
    display: block;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 40px;
}

header nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 24px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.slogan {
    color:#fff;
    text-align: center;
    padding-top: 30vh;
    text-shadow: 0 0 1px #000;
}

.slogan-headline {
    font-size: 130%;
    font-weight: 300;
}

.slogan-text {
    font-size: 500%;
    text-transform: uppercase;
    font-weight: 900;
}

.btn.btn-outline-primary {
    color: #fff;
    text-shadow: 0 0 1px #000;
    border-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    margin-top: 16px;
}

.btn.btn-outline-primary:hover {
    background-color: #fff;
    color: #222;
    text-shadow: none;
}
/* Ende: Header */

/* Start: Main */

main .webDevelopment {
    background-color: #fff;
}

main .identityBranding, .clients {
    background-color: #eee;
}

main .row {
    margin-left: 12%;
    margin-right: 12%;
}

main .service {
    font-size: 350%;
}

#thin {
    font-weight: 300;
}

#bold {
    font-weight: 600;
}

main .service, main .skills, main .clients .clients_headline {
    padding-top: 40px;
    padding-bottom: 40px;
}

main .text {
    color: grey;
    margin-bottom: 40px;
}

main .icon-right {
    color: lightgrey;
    text-align: right;
    font-size: 1200%;
    margin-top: 50px;
}

main .icon-left {
    color: lightgrey;
    text-align: left;
    font-size: 1200%;
    margin-top: 50px;
}

main .skills .smallIcon {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    background-color: #222;
    border-radius: 50%;
    padding-top: 7px;
}

main .clients .clients_headline {
    text-align: center;
    padding-bottom: 0;
}

main .clients .clients_headline span {
    font-size: 350%;
}

main .clients .customerPicture img {
    border-radius: 50%;
    padding: 5px;
    width: 200px;
    height : 200px;
    text-align: center;
    object-fit: scale-down;
}

main .clients .quote {
    color: grey;
    font-size: 22px;
    border: 1px solid #222;
    padding: 32px;
    margin: 16px;
    background-color: #fff;
    font-weight: 200;
    position: relative;
}

main .clients_headline p {
    color: grey;
}

main .clients .quote_author {
    color: cadetblue;
    font-size: 20px;
    font-size: 20px;
}

.arrow_border_left {
    position: absolute;
    border: 14px solid transparent;
    border-right: 14px solid #222;
    top: calc(50% - 14px);
    left: -28px;
}

.arrow_left {
    position: absolute;
    border: 13px solid transparent;
    border-right: 13px solid white;
    top: calc(50% - 13px);
    left: -26px;
}

.arrow_border_right {
    position: absolute;
    border: 14px solid transparent;
    border-left: 14px solid #222;
    top: calc(50% - 14px);
    right: -28px;
}

.arrow_right {
    position: absolute;
    border: 13px solid transparent;
    border-left: 13px solid white;
    top: calc(50% - 13px);
    right: -26px;
}

/* Ende: Main */